<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Categorías</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!--FORMULARIO PARA DATOS-->
          <div class="card">
            <div class="card-header">
              <div class="card-title">Formulario para datos</div>
            </div>
            <div class="card-body">
              <!-- Formulario para datos -->
              <form #categoriaForm="ngForm">
                <div class="card-body">
                  <div class="form-group">
                    <label for="inptID">Digite el id</label>
                    <input [(ngModel)]="idIntroducido" name="idIntroducido" type="number" class="form-control"
                           id="inptID" placeholder="ID">
                  </div>
                  <div class="form-group">
                    <label for="inptNombre">Digite el nombre</label>
                    <input [(ngModel)]="nombreIntroducido" name="nombreIntroducido" type="text" class="form-control"
                           id="inptNombre" placeholder="Nombre">
                  </div>
                  <div class="form-group">
                    <label for="inptDesc">Descripción</label>
                    <input [(ngModel)]="descripcionIntroducido" name="descripcionIntroducido" type="text"
                           class="form-control" id="inptDesc" placeholder="Descripción">
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="button" class="btn btn-success" (click)="agregarCategoria()">Guardar</button> &nbsp;
                  <button type="button" class="btn btn-warning" (click)="modificarCategoria()">Modificar</button>
                </div>
                <!-- /.card-footer -->
              </form>
            </div>
          </div>
          <!-- /.card -->

          <!-- LISTADO DE CATEGORIAS -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Listado de categorías</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let categoria of categorias">
                  <td>{{categoria.id}}</td>
                  <td>{{categoria.nombre}}</td>
                  <td>{{categoria.descripcion}}</td>
                  <td>
                    <!-- &nbsp; para espaciado entre botones -->
                    <button type="button" class="btn btn-primary" (click)="cargarCategoria(categoria)">Modificar
                    </button> &nbsp;
                    <button type="button" class="btn btn-danger" (click)="eliminarCategoria(categoria)">Eliminar
                    </button>
                  </td>

                </tr>

                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
